html,
body {
  padding: 0;
  margin: 0;
  background-color: rgb(11, 13, 26) !important;
  color: whitesmoke !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.circle {
  transform-style: preserve-3d;
}
